.records__list{
    width: 60%;
    margin: 80px auto 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.page-title{
    padding: 2px 20px;
    border-left: 8px solid #000000;
    height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.month-navigation{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.month-navigation a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    cursor: pointer;
}
.month-button{
    position: relative;
}
.month-button.last-month {
    padding-left: 35px;
    padding-right: 10px;
}
.month-button.next-month {
    padding-left: 10px;
    padding-right: 35px;
}
.last-month::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    width: 20px;
    height: 15px;
    background: url("/images/arrow.png") no-repeat center/contain;
    background-size: contain;
    opacity: 0.3;
    transform: translateY(-50%);
}
.next-month::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    display: block;
    width: 20px;
    height: 15px;
    background: url("/images/arrow.png") no-repeat center/contain;
    background-size: contain;
    opacity: 0.3;
    transform: translateY(-50%) rotate(-180deg);
}
.current-month{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 40px;
}
.current-month::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("/images/calendar.png") no-repeat center/contain;
    background-size: contain;
    transform: translateY(-50%);
}

.records__list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.records__list__table th,
.records__list__table td {
    border-bottom: 3px solid #e1e1e1;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    text-align: center;
}
.records__list__table th.date{
    text-align: left;
    padding-left: 60px;
}
.table__row{
    width: 100%;
    height: 40px;
}
.detail__link span{
    color: #000000;
}
.detail__link a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.status__lists{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 47px;
    padding-top: 20px;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;
}
.pending,
.approved{
    display: inline-block;
    width: 155px;
    height: 35px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    padding-left: 40px;
    padding-bottom: 10px;
    line-height: 35px;
}
.pending.active,
.approved.active{
    font-weight: 700;

}

.export-csv{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.export__button{
    width: 184px;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 975px) {
    .header__nav{
        width: 70vw;
        display: flex;
        padding-left: 30px;
        padding-right: 10px;
    }
    .header__nav li{
        font-size: 18px;
    }
    .header__logout{
        font-size: 18px;
    }
}